  body {
    background-color: #fcf8ec;
  }

  hr {
    border-style: dotted none none none;
    border-width: 5px;
    width: 05%;
  }
  div {
    margin-bottom: 10px;
  }

  img {
    height: 70%;
  }
  h1 {
    color: #222831;
  }
  h3 {
    color: #87431d;
  }
  h4 {
    color: #87431d;
  }
